/* The z-index Property
When elements are positioned, they can overlap other elements.
The z-index property specifies the stack order of an element (which element should be placed in front of, or behind, the others).
An element can have a positive or negative stack order:
This is a headingBecause the image has a z-index of -1, it will be placed behind the text.
Example */
img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}