/* Simple Pagination
If you have a website with lots of pages, you may wish to add some sort of pagination to each page:

«123456» */
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}