* {
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}