/* Table Borders
To specify table borders in CSS, use the border property.
The example below specifies a solid border for <table>, <th>, and <td> elements:
Firstname	Lastname
Peter	Griffin
Lois	Griffin
Example */
table, th, td {
  border: 1px solid;
}

/* Table Width and Height
The width and height of a table are defined by the width and height properties.
The example below sets the width of the table to 100%, and the height of the <th> elements to 70px:
Firstname	Lastname	Savings
Peter	Griffin	$100
Lois	Griffin	$150
Joe	Swanson	$300
Example */
table {
  width: 100%;
}

th {
  height: 70px;
}

/* Horizontal Alignment
The text-align property sets the horizontal alignment (like left, right, or center) of the content in <th> or <td>.
By default, the content of <th> elements are center-aligned and the content of <td> elements are left-aligned.
To center-align the content of  <td> elements as well, use text-align: center:
Firstname	Lastname	Savings
Peter	Griffin	$100
Lois	Griffin	$150
Joe	Swanson	$300
Example */
td {
  text-align: center;
}

/* Table Padding
To control the space between the border and the content in a table, use the padding property on <td> and <th> elements:
First Name	Last Name	Savings
Peter	Griffin	$100
Lois	Griffin	$150
Joe	Swanson	$300
Example */
th, td {
  padding: 15px;
  text-align: left;
}

/* Responsive Table
A responsive table will display a horizontal scroll bar if the screen is too small to display the full content:
First Name	Last Name	Points	Points	Points	Points	Points	Points	Points	Points	Points	Points	Points	Points
Jill	Smith	50	50	50	50	50	50	50	50	50	50	50	50
Eve	Jackson	94	94	94	94	94	94	94	94	94	94	94	94
Adam	Johnson	67	67	67	67	67	67	67	67	67	67	67	67
Add a container element (like <div>) with overflow-x:auto around the <table> element to make it responsive:
Example */
/* <div style="overflow-x:auto;">

<table>
... table content ...
</table>

</div> */