/* CSS Transitions
CSS transitions allows you to change property values smoothly, over a given duration.

Mouse over the element below to see a CSS transition effect:

CSS
In this chapter you will learn about the following properties:

transition
transition-delay
transition-duration
transition-property
transition-timing-function
How to Use CSS Transitions?
To create a transition effect, you must specify two things:

the CSS property you want to add an effect to
the duration of the effect
Note: If the duration part is not specified, the transition will have no effect, because the default value is 0.

The following example shows a 100px * 100px red <div> element. The <div> element has also specified a transition effect for the width property, with a duration of 2 seconds:

Example */
div {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}